%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email, class: "formLabel"
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "formInput"
  .field
    = f.label :password, class: "formLabel"
    = f.password_field :password, autocomplete: "new-password", class: "formInput"
  .field
    = f.label :password_confirmation, class: "formLabel"
    = f.password_field :password_confirmation, autocomplete: "new-password", class: "formInput"
  .actions
    = f.submit "Submit", class: "signupBtn"
-# = render "devise/shared/links"
